<suite name="ParallelSuite" parallel="methods" thread-count="4">

    <test name="Ecommerce Tests">
        <parameter name="username" value="admin"/>
        <classes>
            <class name="Testing_package.EcommerceTest"/>
        </classes>
    </test>
    <suite name="LoginWithParameters">
    <test name="LoginTest">
        <parameter name="username" value="testuser"/>
        <parameter name="password" value="testpass"/>
        <classes>
            <class name="TestNG_package.ParameterizedLoginTest"/>
        </classes>
    </test>
</suite><suite name="DataProviderSuite">
  <test name="LoginWithMultipleUsers">
    <classes>
      <class name="TestNG_package.DataProviderLoginTest"/>
    </classes>
  </test>
</suite>

</suite>